<h1 class="mt-5 px-5">CALIFICACIONES DEL ALUMNO</h1>
<div class="contenedor px-5">
    <ul class="list-group mx-auto mb-5">
        <li class="list-group-item" *ngFor="let item of calificaciones">

            <h5>Nombre(s):{{item.nombre}}</h5>
            <h5>Apellido(s): {{item.apellido}}</h5>
            <h5>Número de Control: {{item.control}}</h5>
            <h3>CALIFICACIONES</h3>
            <h5>Primer Semestre: {{item.primer}}</h5>
            <h5>Segundo Semestre: {{item.segundo}}</h5>
            <h5>Tercero Semestre: {{item.tercero}}</h5>
            <h5>Cuarto Semestre: {{item.cuarto}}</h5>
            <h5>Quinto Semestre: {{item.quinto}}</h5>
            <h5>Sexto Semestre: {{item.sexto}}</h5>
            <h5>Septimo Semestre: {{item.septimo}}</h5>
            <h5>Octavo Semestre: {{item.octavo}}</h5>
            <h5>Noveno Semestre:</h5>

        </li>
    </ul>